<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Paul Kehrer</string>
	<key>CFBundleDisplayName</key>
	<string>Google Lightboxer</string>
	<key>CFBundleIdentifier</key>
	<string>com.languish.safari.google.googleLightboxer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>slideshow.js</string>
				<string>js/jquery.colorbox.min.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>js/jquery-1.4.2.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/colorbox.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://www.google.com/images*</string>
			<string>http://www.google.ad/images*</string>
			<string>http://www.google.ae/images*</string>
			<string>http://www.google.com.af/images*</string>
			<string>http://www.google.com.ag/images*</string>
			<string>http://www.google.com.ai/images*</string>
			<string>http://www.google.am/images*</string>
			<string>http://www.google.it.ao/images*</string>
			<string>http://www.google.com.ar/images*</string>
			<string>http://www.google.as/images*</string>
			<string>http://www.google.at/images*</string>
			<string>http://www.google.com.au/images*</string>
			<string>http://www.google.az/images*</string>
			<string>http://www.google.ba/images*</string>
			<string>http://www.google.com.bd/images*</string>
			<string>http://www.google.be/images*</string>
			<string>http://www.google.bf/images*</string>
			<string>http://www.google.bg/images*</string>
			<string>http://www.google.com.bh/images*</string>
			<string>http://www.google.bi/images*</string>
			<string>http://www.google.bj/images*</string>
			<string>http://www.google.com.bn/images*</string>
			<string>http://www.google.com.bo/images*</string>
			<string>http://www.google.com.br/images*</string>
			<string>http://www.google.bs/images*</string>
			<string>http://www.google.co.bw/images*</string>
			<string>http://www.google.com.by/images*</string>
			<string>http://www.google.com.bz/images*</string>
			<string>http://www.google.ca/images*</string>
			<string>http://www.google.cd/images*</string>
			<string>http://www.google.cf/images*</string>
			<string>http://www.google.cg/images*</string>
			<string>http://www.google.ch/images*</string>
			<string>http://www.google.ci/images*</string>
			<string>http://www.google.co.ck/images*</string>
			<string>http://www.google.cl/images*</string>
			<string>http://www.google.cm/images*</string>
			<string>http://www.google.cn/images*</string>
			<string>http://www.google.com.co/images*</string>
			<string>http://www.google.co.cr/images*</string>
			<string>http://www.google.com.cu/images*</string>
			<string>http://www.google.cz/images*</string>
			<string>http://www.google.de/images*</string>
			<string>http://www.google.dj/images*</string>
			<string>http://www.google.dk/images*</string>
			<string>http://www.google.dm/images*</string>
			<string>http://www.google.com.do/images*</string>
			<string>http://www.google.dz/images*</string>
			<string>http://www.google.com.ec/images*</string>
			<string>http://www.google.ee/images*</string>
			<string>http://www.google.com.eg/images*</string>
			<string>http://www.google.es/images*</string>
			<string>http://www.google.com.et/images*</string>
			<string>http://www.google.fi/images*</string>
			<string>http://www.google.com.fj/images*</string>
			<string>http://www.google.fm/images*</string>
			<string>http://www.google.fr/images*</string>
			<string>http://www.google.ga/images*</string>
			<string>http://www.google.ge/images*</string>
			<string>http://www.google.gg/images*</string>
			<string>http://www.google.com.gh/images*</string>
			<string>http://www.google.com.gi/images*</string>
			<string>http://www.google.gl/images*</string>
			<string>http://www.google.gm/images*</string>
			<string>http://www.google.gp/images*</string>
			<string>http://www.google.gr/images*</string>
			<string>http://www.google.com.gt/images*</string>
			<string>http://www.google.gy/images*</string>
			<string>http://www.google.com.hk/images*</string>
			<string>http://www.google.hn/images*</string>
			<string>http://www.google.hr/images*</string>
			<string>http://www.google.ht/images*</string>
			<string>http://www.google.hu/images*</string>
			<string>http://www.google.co.id/images*</string>
			<string>http://www.google.ie/images*</string>
			<string>http://www.google.co.il/images*</string>
			<string>http://www.google.im/images*</string>
			<string>http://www.google.co.in/images*</string>
			<string>http://www.google.is/images*</string>
			<string>http://www.google.it/images*</string>
			<string>http://www.google.je/images*</string>
			<string>http://www.google.com.jm/images*</string>
			<string>http://www.google.jo/images*</string>
			<string>http://www.google.co.jp/images*</string>
			<string>http://www.google.co.ke/images*</string>
			<string>http://www.google.com.kh/images*</string>
			<string>http://www.google.ki/images*</string>
			<string>http://www.google.kg/images*</string>
			<string>http://www.google.co.kr/images*</string>
			<string>http://www.google.com.kw/images*</string>
			<string>http://www.google.kz/images*</string>
			<string>http://www.google.la/images*</string>
			<string>http://www.google.com.lb/images*</string>
			<string>http://www.google.li/images*</string>
			<string>http://www.google.lk/images*</string>
			<string>http://www.google.co.ls/images*</string>
			<string>http://www.google.lt/images*</string>
			<string>http://www.google.lu/images*</string>
			<string>http://www.google.lv/images*</string>
			<string>http://www.google.com.ly/images*</string>
			<string>http://www.google.co.ma/images*</string>
			<string>http://www.google.md/images*</string>
			<string>http://www.google.me/images*</string>
			<string>http://www.google.mg/images*</string>
			<string>http://www.google.mk/images*</string>
			<string>http://www.google.ml/images*</string>
			<string>http://www.google.mn/images*</string>
			<string>http://www.google.ms/images*</string>
			<string>http://www.google.com.mt/images*</string>
			<string>http://www.google.mu/images*</string>
			<string>http://www.google.mv/images*</string>
			<string>http://www.google.mw/images*</string>
			<string>http://www.google.com.mx/images*</string>
			<string>http://www.google.com.my/images*</string>
			<string>http://www.google.co.mz/images*</string>
			<string>http://www.google.com.na/images*</string>
			<string>http://www.google.com.nf/images*</string>
			<string>http://www.google.com.ng/images*</string>
			<string>http://www.google.com.ni/images*</string>
			<string>http://www.google.ne/images*</string>
			<string>http://www.google.nl/images*</string>
			<string>http://www.google.no/images*</string>
			<string>http://www.google.com.np/images*</string>
			<string>http://www.google.nr/images*</string>
			<string>http://www.google.nu/images*</string>
			<string>http://www.google.co.nz/images*</string>
			<string>http://www.google.com.om/images*</string>
			<string>http://www.google.com.pa/images*</string>
			<string>http://www.google.com.pe/images*</string>
			<string>http://www.google.com.ph/images*</string>
			<string>http://www.google.com.pk/images*</string>
			<string>http://www.google.pl/images*</string>
			<string>http://www.google.pn/images*</string>
			<string>http://www.google.com.pr/images*</string>
			<string>http://www.google.ps/images*</string>
			<string>http://www.google.pt/images*</string>
			<string>http://www.google.com.py/images*</string>
			<string>http://www.google.com.qa/images*</string>
			<string>http://www.google.ro/images*</string>
			<string>http://www.google.ru/images*</string>
			<string>http://www.google.rw/images*</string>
			<string>http://www.google.com.sa/images*</string>
			<string>http://www.google.com.sb/images*</string>
			<string>http://www.google.sc/images*</string>
			<string>http://www.google.se/images*</string>
			<string>http://www.google.com.sg/images*</string>
			<string>http://www.google.sh/images*</string>
			<string>http://www.google.si/images*</string>
			<string>http://www.google.sk/images*</string>
			<string>http://www.google.com.sl/images*</string>
			<string>http://www.google.sn/images*</string>
			<string>http://www.google.sm/images*</string>
			<string>http://www.google.st/images*</string>
			<string>http://www.google.com.sv/images*</string>
			<string>http://www.google.td/images*</string>
			<string>http://www.google.tg/images*</string>
			<string>http://www.google.co.th/images*</string>
			<string>http://www.google.com.tj/images*</string>
			<string>http://www.google.tk/images*</string>
			<string>http://www.google.tl/images*</string>
			<string>http://www.google.tm/images*</string>
			<string>http://www.google.to/images*</string>
			<string>http://www.google.com.tr/images*</string>
			<string>http://www.google.tt/images*</string>
			<string>http://www.google.com.tw/images*</string>
			<string>http://www.google.co.tz/images*</string>
			<string>http://www.google.com.ua/images*</string>
			<string>http://www.google.co.ug/images*</string>
			<string>http://www.google.co.uk/images*</string>
			<string>http://www.google.com.uy/images*</string>
			<string>http://www.google.co.uz/images*</string>
			<string>http://www.google.com.vc/images*</string>
			<string>http://www.google.co.ve/images*</string>
			<string>http://www.google.vg/images*</string>
			<string>http://www.google.co.vi/images*</string>
			<string>http://www.google.com.vn/images*</string>
			<string>http://www.google.vu/images*</string>
			<string>http://www.google.ws/images*</string>
			<string>http://www.google.rs/images*</string>
			<string>http://www.google.co.za/images*</string>
			<string>http://www.google.co.zm/images*</string>
			<string>http://www.google.co.zw/images*</string>
			<string>http://www.google.cat/images*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Load full size images on Google Images in a Lightbox (Colorbox).</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.google.com</string>
				<string>www.google.ad</string>
				<string>www.google.ae</string>
				<string>www.google.com.af</string>
				<string>www.google.com.ag</string>
				<string>www.google.com.ai</string>
				<string>www.google.am</string>
				<string>www.google.it.ao</string>
				<string>www.google.com.ar</string>
				<string>www.google.as</string>
				<string>www.google.at</string>
				<string>www.google.com.au</string>
				<string>www.google.az</string>
				<string>www.google.ba</string>
				<string>www.google.com.bd</string>
				<string>www.google.be</string>
				<string>www.google.bf</string>
				<string>www.google.bg</string>
				<string>www.google.com.bh</string>
				<string>www.google.bi</string>
				<string>www.google.bj</string>
				<string>www.google.com.bn</string>
				<string>www.google.com.bo</string>
				<string>www.google.com.br</string>
				<string>www.google.bs</string>
				<string>www.google.co.bw</string>
				<string>www.google.com.by</string>
				<string>www.google.com.bz</string>
				<string>www.google.ca</string>
				<string>www.google.cd</string>
				<string>www.google.cf</string>
				<string>www.google.cg</string>
				<string>www.google.ch</string>
				<string>www.google.ci</string>
				<string>www.google.co.ck</string>
				<string>www.google.cl</string>
				<string>www.google.cm</string>
				<string>www.google.cn</string>
				<string>www.google.com.co</string>
				<string>www.google.co.cr</string>
				<string>www.google.com.cu</string>
				<string>www.google.cz</string>
				<string>www.google.de</string>
				<string>www.google.dj</string>
				<string>www.google.dk</string>
				<string>www.google.dm</string>
				<string>www.google.com.do</string>
				<string>www.google.dz</string>
				<string>www.google.com.ec</string>
				<string>www.google.ee</string>
				<string>www.google.com.eg</string>
				<string>www.google.es</string>
				<string>www.google.com.et</string>
				<string>www.google.fi</string>
				<string>www.google.com.fj</string>
				<string>www.google.fm</string>
				<string>www.google.fr</string>
				<string>www.google.ga</string>
				<string>www.google.ge</string>
				<string>www.google.gg</string>
				<string>www.google.com.gh</string>
				<string>www.google.com.gi</string>
				<string>www.google.gl</string>
				<string>www.google.gm</string>
				<string>www.google.gp</string>
				<string>www.google.gr</string>
				<string>www.google.com.gt</string>
				<string>www.google.gy</string>
				<string>www.google.com.hk</string>
				<string>www.google.hn</string>
				<string>www.google.hr</string>
				<string>www.google.ht</string>
				<string>www.google.hu</string>
				<string>www.google.co.id</string>
				<string>www.google.ie</string>
				<string>www.google.co.il</string>
				<string>www.google.im</string>
				<string>www.google.co.in</string>
				<string>www.google.is</string>
				<string>www.google.it</string>
				<string>www.google.je</string>
				<string>www.google.com.jm</string>
				<string>www.google.jo</string>
				<string>www.google.co.jp</string>
				<string>www.google.co.ke</string>
				<string>www.google.com.kh</string>
				<string>www.google.ki</string>
				<string>www.google.kg</string>
				<string>www.google.co.kr</string>
				<string>www.google.com.kw</string>
				<string>www.google.kz</string>
				<string>www.google.la</string>
				<string>www.google.com.lb</string>
				<string>www.google.li</string>
				<string>www.google.lk</string>
				<string>www.google.co.ls</string>
				<string>www.google.lt</string>
				<string>www.google.lu</string>
				<string>www.google.lv</string>
				<string>www.google.com.ly</string>
				<string>www.google.co.ma</string>
				<string>www.google.md</string>
				<string>www.google.me</string>
				<string>www.google.mg</string>
				<string>www.google.mk</string>
				<string>www.google.ml</string>
				<string>www.google.mn</string>
				<string>www.google.ms</string>
				<string>www.google.com.mt</string>
				<string>www.google.mu</string>
				<string>www.google.mv</string>
				<string>www.google.mw</string>
				<string>www.google.com.mx</string>
				<string>www.google.com.my</string>
				<string>www.google.co.mz</string>
				<string>www.google.com.na</string>
				<string>www.google.com.nf</string>
				<string>www.google.com.ng</string>
				<string>www.google.com.ni</string>
				<string>www.google.ne</string>
				<string>www.google.nl</string>
				<string>www.google.no</string>
				<string>www.google.com.np</string>
				<string>www.google.nr</string>
				<string>www.google.nu</string>
				<string>www.google.co.nz</string>
				<string>www.google.com.om</string>
				<string>www.google.com.pa</string>
				<string>www.google.com.pe</string>
				<string>www.google.com.ph</string>
				<string>www.google.com.pk</string>
				<string>www.google.pl</string>
				<string>www.google.pn</string>
				<string>www.google.com.pr</string>
				<string>www.google.ps</string>
				<string>www.google.pt</string>
				<string>www.google.com.py</string>
				<string>www.google.com.qa</string>
				<string>www.google.ro</string>
				<string>www.google.ru</string>
				<string>www.google.rw</string>
				<string>www.google.com.sa</string>
				<string>www.google.com.sb</string>
				<string>www.google.sc</string>
				<string>www.google.se</string>
				<string>www.google.com.sg</string>
				<string>www.google.sh</string>
				<string>www.google.si</string>
				<string>www.google.sk</string>
				<string>www.google.com.sl</string>
				<string>www.google.sn</string>
				<string>www.google.sm</string>
				<string>www.google.st</string>
				<string>www.google.com.sv</string>
				<string>www.google.td</string>
				<string>www.google.tg</string>
				<string>www.google.co.th</string>
				<string>www.google.com.tj</string>
				<string>www.google.tk</string>
				<string>www.google.tl</string>
				<string>www.google.tm</string>
				<string>www.google.to</string>
				<string>www.google.com.tr</string>
				<string>www.google.tt</string>
				<string>www.google.com.tw</string>
				<string>www.google.co.tz</string>
				<string>www.google.com.ua</string>
				<string>www.google.co.ug</string>
				<string>www.google.co.uk</string>
				<string>www.google.com.uy</string>
				<string>www.google.co.uz</string>
				<string>www.google.com.vc</string>
				<string>www.google.co.ve</string>
				<string>www.google.vg</string>
				<string>www.google.co.vi</string>
				<string>www.google.com.vn</string>
				<string>www.google.vu</string>
				<string>www.google.ws</string>
				<string>www.google.rs</string>
				<string>www.google.co.za</string>
				<string>www.google.co.zm</string>
				<string>www.google.co.zw</string>
				<string>www.google.cat</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/reaperhulk/Google-Lightboxer/raw/master/googleLightbox-update.plist</string>
	<key>Website</key>
	<string>http://langui.sh/</string>
</dict>
</plist>
